<div class="container"></div>
  <h1>add a new cocktail</h1>

  <div id="new-cocktail-form">
    <%= simple_form_for @cocktail do |f|%>
      <%= f.input :name %>
      <%= f.button :submit, value: 'add', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <%= link_to 'cancel', cocktails_path %>
</div>
