// Specific CSS for your home-page
body {
  background-color: lightcyan
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 550px
}

#cocktails-list {
  display: flex;
  flex-direction: column
}

#cocktails-actions {
  display: flex
}

.default-img-thumb {
  height: 100px;
  width: 100px;
}

.default-img-full {
  height: 300px;
  width: 300px;
}
