// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.container {
  display: flex;
  flex-direction: column
}

#cocktails-list {
  display: flex;
  flex-direction: column
}

#cocktails-actions {
  display: flex
}
